<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="EnergyMeter.Droid.EnergyMeter.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Energy meter" android:theme="@style/AppTheme" android:icon="@drawable/error_red"></application>
</manifest>